.DS_Store
.idea/
velocity.log*
pom.xml*
!pom.xml
**/.classpath
**/.factorypath
**/.project
**/.settings
**/*.ipr
**/*.iws
**/*.prefs
**/target
**/*.iml
**/*.log
**/*.log.*
src/main/resources/mastercard-id-assistClientEnc1678341427.pem
src/main/resources/keyalias-encryption-mc.p12
src/main/resources/IDV-sandbox.p12
